@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .img-hover {
    @apply transition ease-in-out duration-300 hover:scale-110;
  }
  .container-fluid {
    @apply max-w-screen-2xl mx-auto p-6 md:p-16;
  }
  .myBackround {
    @apply text-black;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground-rgb);
  color: white;

  background-position: center top;
  background-image: url(./img/background.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  /* font-family: Calibri; */
  /* font-size: 18px; */

  /* height: 100vh; */
}

.myBackround {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 2%,
    rgba(240, 255, 255, 0.3) 140%
  );
  flex: 1;
  min-height: calc(100vh - 160px);
}

.gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 2%,
    rgba(240, 255, 255, 0.4) 140%
  );
}
/* .Gradient {
  background: -webkit-linear-gradient(
    left,
    rgba(240, 255, 255, 1) 2%,
    rgba(240, 255, 255, 0) 140%
  );
} */

/* .navbar {
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
  width: 100%;
} */
